body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#cells {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
}

.top {
  border-top-color: #000;
}

.bottom {
  border-bottom-color: #000;
}

.left {
  border-left-color: #000;
}

.right {
  border-right-color: #000;
}

.rat {
  width: 20px;
            height: 20px;
            display: block;
            position: absolute;
  background: orange!important;
}